@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&family=Raleway:wght@300;400;500;600&family=Source+Sans+Pro:wght@400;600&display=swap');

// Palette
$primary: #3DC2A3;
$secondary: #3d69c2;
$c-warning: #ad1714;
$c-success: #46c23d;
$light: #f6f8ffff;
$dark: #272d2dff;

// Basic colors
$text-color: #011627;
$text-secondary: #496A81;
$white: #ffffff;
$black: #000000;

// Background colors
$bg-l: #cacfd6ff;
$bg-m: #d6e5e3ff;
$bg-d: #343a40;
$bg-dark: #1c1c1c;

// Primary, secondary, and tertiary font-family
$primary-font: 'Rubik',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

$secondary-font: 'Raleway',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

$tertiary-font: 'Source Sans Pro',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;