@import './theme/theme';

// --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  color: $text-color;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}


a {
  text-decoration: none;
  font-family: $tertiary-font;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font;
  font-size: 60px;
}

#category {
  font-family: $tertiary-font;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 96px;
  line-height: 1.13636;
  font-family: $secondary-font;
  color: $primary;
}

#banner {
  margin: 20px;
  height: 800px;
  font-family: $secondary-font;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: $tertiary-font;
}

.uk-section {
  padding-top: 20px;
}

#content {
  width: 90vw;
}

#navbar {
  background-color: $bg-dark;
  color: var(--text-color);
}


.uk-navbar-container {
  background: $bg-dark !important;
  font-family: $tertiary-font;
}

#texts {
  h3 {
    color: $bg-d;
    font-size: 2.7rem;
    margin: 0;
  }
}

#header {
  color: $secondary;
}