@import './theme/theme';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  color: $bg-d;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  font-family: $tertiary-font;
}

* {
  box-sizing: border-box;
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: $bg-d;
  font-family: $secondary-font;
}

#category {
  font-family: $tertiary-font;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 96px;
  line-height: 1.13636;
  font-family: $secondary-font;
  color: $primary;
}

#banner {
  margin: 20px;
  height: 800px;
  font-family: $secondary-font;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: $tertiary-font;
}

.uk-section {
  padding-top: 20px;
}

#content {
  width: 90vw;
}

#navbar {
  background-color: $bg-dark;
  color: var(--text-color);
}

.uk-navbar-container {
  background: $bg-dark !important;
  font-family: $tertiary-font;
}
