@import './theme/theme';

.title {
  text-align: start;
  font-size: 80px;
  margin: 15px;
}

.subheading {
  color: $bg-d;
  font-size: 40px;
  margin-top: 20px;
  width: 100%;
  flex: auto;
}

.select {
  color: $text-secondary;
  font-size: 28px;
  text-align: center;
}
