@import './theme/theme';

#parent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.66rem;
  padding: 0.22rem;

  div {
    .title {
      text-align: center;
      font-size: 62px;
      margin: 0.85rem 0 0.55rem 0;
    }
  }

  #subheader {
    .subtitle {
      color: $text-secondary;
      font-size: 28px;
      margin-top: 20px;
      width: 100%;
      flex: auto;
    }
  }

  #linkContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0.99rem;

    #card {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
      width: 300px;
      color: $text-secondary;

      Link {
        width: 100%;
        color: $text-secondary;
        font-size: 28px;
        text-align: center;
        #select {
          color: $text-secondary;
          font-size: 28px;
          text-align: center;

          #text {
            width: 100%;
            color: $text-secondary;
            font-size: 28px;
            text-align: center;
          }
        }
      }
    }
  }
}